#reservation {
  background: url("IMG/photo/EXTERIEUR_07.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#reservation .container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 15px;
}

label,
input,
select,
textarea,
button {
  color: white;
}

input,
select,
textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
